body {
  background-color: #beebe9;
}
h1
{

  color: #84142d;
}
h3{
  color: #84142d;
}
th{
  color: #84142d;
}
a {
  text-decoration: none;
}
div {
  background-color: #fce2db;
  border-radius: 25px;
  border: 6px solid #73AD21;
  padding: 20px ;
  width: ;
  height: ;
}
